:root {
  --dark: rgb(4, 9, 22);
  --light: rgba(226, 226, 226, 0.986);
  --pop: rgb(101, 255, 134);
  --popFade: rgba(101, 255, 134, 0.466);
}

body {
  min-width: 100%;
  font-size: 1vw;
}

h1,
h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
}

.navbar {
  border-radius: 10px;
  z-index: 99;
}

#banner {
  width: 100%;
  margin: 10px;
}

#banner-image {
  height: 100%;
  padding: 0px;
}

#banner-text {
  background-color: rgb(51, 51, 51);
  max-height: 296px;
  opacity: 80%;
  max-width: 30%;
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 1.5vw;
}

#banner-text-info {
  background-color: rgb(51, 51, 51);
  opacity: 80%;
  color: white;
  font-family: serif;
  text-align: start;
  font-size: 1vw;
}

.row {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

#myLinks {
  height: 100%;
}

main {
  padding: 5% 20%;
}

#slides {
  background-color: rgb(51, 51, 51);
  opacity: 80%;
  color: white;
  text-align: center;
}

.card-text {
  display: none;
}

.card {
  width: 25%;
}

nav.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#myLinks {
  width: 100%;
  display: block;
  max-height: 480px;
  height: auto;
}

#content {
  width: 70%;
}

@media screen and (max-width: 1500px) {
  #myLinks {
    width: 100%;
    display: block;
    max-height: 350px;
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  #myLinks {
    width: 48%;
    display: row;
    height: 100%;
    margin-top: 1rem;
  }

  #content {
    width: 98%;
  }
}

@media screen and (max-width: 767px) {
  body {
    min-width: 100%;
    font-size: 3vw;
  }

  h1,
  h2 {
    font-size: 9vw;
  }

  h3 {
    font-size: 6vw;
  }

  #banner-text {
    font-size: 2vw;
  }

  #banner-text-info {
    font-size: 2vw;
  }
}

@media screen and (max-width: 479px) {
}
